@font-face {
  font-family: 'Pixel Emulator';
  src: url("../../../fonts/Pixel\ Emulator.otf") format('opentype');
}

body {
  font-family: 'Pixel Emulator', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}
.painel{
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 20px;
}
.painel-tl{
  display: flex;
  justify-content: space-evenly;  
  width: 100%;
}

#explicacao {
  border: 2px solid #4CAF50;
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 15px;
  width: 70%;
  /* margin: 50px auto; */
  font-family: 'Pixel Emulator', sans-serif;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 12pt;
}

#explicacao::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px;
  border-right: 10px;
  border-bottom: 10px solid #f0f0f0;
}

#médico{
  width: 125px;
  height: 125px;
}

#avançar{
  width: 90px;
  font-family: Pixel Emulator;
  font-size: 12px;
  margin-right: 10.5%;
}

.container-card {
  position: absolute;
  top: 14%;
  right: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 325px;
  padding: 20px;
  text-align: center;
}

.painel{
  width: 100%;
}
.painel-qst{
  h1{
    text-align: center;
  }
}
/*  */
.painel-qst{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{

  padding: 20px;    
  border-radius: 40px;
  /* height: 450px; */
  width: 60%;
}

.box-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box-img{
  position: absolute;
  right: 0;
}
.box-img img{
  width: 65px;
  height: auto;
  cursor: pointer;
}
.box-textos{
  text-align: center;
}
.box-textos h4{
  font-weight: normal;
  margin-top: 10px;
}
.box-resposta{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 16px;
}
.box-resposta input{
  padding: 20px;
  text-align: left;
  padding-left: 40px;
  font-size: 13.5px;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  background-color: #f0f0f0;

  font-family: 'Pixel Emulator', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box-resposta button{
  padding: 20px;
  text-align: center !important;
  font-size: 13.5px;
  background: white;
  color: black;
  border-radius: 10px;
  background-color: #f0f0f0;
  border: green 1px solid;
  font-family: 'Pixel Emulator', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-resposta{
  display: flex;
  flex-direction: column;
}
.box-resultados{
  display: flex;
  margin-bottom: 15px;
}
.box-resultados-corpo{
  background-color:#d5d9e0;
  border: 1px solid #dadde4;
  color: #000;
  width: 65%;
  padding: 16px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

  
}
.box-resultados-texto{
  background-color: #0075FF;
  color:#fff;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@keyframes hideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200%);
    opacity: 0;
    display: none;
  }
}

@media (max-width: 700px) {
h1{
  margin: 0px 10px;
}
.painel-tl{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.25rem;
}
#avançar{
  margin-right: 15%;
}
.container{
  width: 90%;
}
.box-resposta input{
  padding-left: 1.2rem;
  height: 100px;
  white-space: pre-wrap; 
  overflow-wrap: break-word; 
}
}

