@font-face {
    font-family: 'Pixel Emulator';
    src: url("../assets/fonts/Pixel\ Emulator.otf") format('opentype');
}

body {
    height: 100vh;
    margin: 0;
    background: #262525;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixel Emulator";
    color: #fff;
    
}
a{
    text-decoration: none;
    color: white;
}

.container {
    max-width: 800px;
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
}

.section {
    background: #393939;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.fases {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fase {
    width: 150px;
    height: 150px;
    background-color:#1e82ca;;
    border: 2px solid #005691;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}
.fase:hover{
    background-color: #005691;
    cursor: pointer;
}

.fase.locked {
    background: linear-gradient(to bottom right, #cccccc, #999999);
    cursor: not-allowed;
}

.fase.locked img {
    filter: grayscale(100%);
}

.fase a {
    text-decoration: none;
    color: #e2e2e2;
    text-align: center;
}

.fase img {
    width: 70px;
    height: 70px;
}

.fase-title {
    /* margin-top: 10px; */
    font-size: 16px;
    text-align: center;
}

.missoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.missao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077B6;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #005691;
    transition: background-color 0.3s ease;
}

.missao p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.missao:hover {
    background-color: #005691;
    user-select: none;
}
