@font-face {
    font-family: 'Pixel Emulator';
    src: url("assets/fonts/Pixel\ Emulator.otf") format('opentype');
}
body{
    height: 100vh;
    display: flex;
    text-align: center;
    row-gap: 0.8rem;
    align-items: center;
    flex-direction: column;
    background: #262525;
    font-family: 'Pixel Emulator', sans-serif;
    color: #68afe1;
}
.title-sobre{
    margin-top: 3rem !important;
}
.historia{
    width: 70%;
    text-align: center;
}
h2{
    margin: 0.5rem 0rem 2rem;
}

.container-sobre{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
    align-items: center;
}
.box-sobre{
    display: flex;
    width: 800px;
    height: 200px;
    padding: 20px;
    border-radius: 1rem;
    background: white;

}
.box-sobre-img{
    height: 100%;
    width: 800px;
    border-radius: 12px;
    background: #262525;
}
.box-sobre-texto{
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 20px;
    margin-left: 2rem;
}
.box-sobre-texto-paragrafo{
    font-size: 0.95rem;
}