@font-face {
    font-family: 'Pixel Emulator';
    src: url("../../fonts/Pixel\ Emulator.otf") format('opentype');
}
body {
    height: 100vh;
    display: flex;
    text-align: center;
    row-gap: 0.8rem;
    align-items: center;
    flex-direction: column;
    background: #262525;
    font-family: 'Pixel Emulator', sans-serif;
    color: #68afe1;
}
.title-sobre {
    margin-top: 4rem !important;
}
.historia {
    width: 70%;
    text-align: center;
}
h2 {
    margin: 0.5rem 0rem 2rem;
}

.container-sobre {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
    align-items: center;
}
.box-sobre {
    display: flex;
    width: 50rem; 
    height: 12.5rem; 
    padding: 1.25rem; 
    border-radius: 1rem;
    background: white;
}
.box-sobre-img {
    height: 100%;
    width: 30%; 
    border-radius: 0.75rem; 
    background: #262525;
}
.box-sobre-texto {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 1.25rem; 
    margin-left: 2rem;
}
.box-sobre-texto-paragrafo {
    font-size: 0.95rem;
}

@media (max-width: 700px) {
    .container-sobre{
        row-gap: 1.5rem;
        width: 100%;
    }
    .box-sobre{
        width: 90%;
        height: 100%;
        flex-direction: column;
    }
    .box-sobre-texto{
        width: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
    }
    .box-sobre-texto-titulo{
        text-align: center;
    }
    .box-sobre-texto-paragrafo{
        text-align: justify;
        width: 90%;
    }

}