@font-face {
    font-family: 'Pixel Emulator';
    src: url("/assets/fonts/Pixel\ Emulator.otf") format('opentype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    text-align: center;
    row-gap: 0.8rem;
    align-items: center;
    flex-direction: column;
    background: #262525;
    font-family: 'Pixel Emulator', sans-serif;
    color: #68afe1;
}
h1{
    margin-top: 7rem;
}
h2{
    margin: 0.5rem 0rem 2rem;
}
.criadores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
}

  