*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #244566, #5a9ecfe3);
    display: flex;
    justify-content: center;
    align-items: center; 
     
     
}

.container-fases{
    /* height: 25rem; */
    width: 25rem;
    background-color: #244566;
    border: 1px solid #0d1c2a;
    border-radius: 4px;    
    display: flex;
    justify-content: space-between;
    padding: 2.8rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.box-fases{
    width: 3.8rem;
    height: 3.8rem;
    background-color: #82BAE2; /* cor principal de fundo */
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); /* gradiente linear branco */
    position: relative; /* permite posicionar elementos filhos relativamente */
    overflow: hidden; /* garante que o gradiente não se expanda além da caixa */
    transition: background-color 0.3s ease; /* suaviza a transição da cor de fundo */
    border: 2px solid rgb(255, 230, 0);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-size: 1.7rem;
    
    

    a{
        text-decoration: none; 
        color:#e2e2e2;
        
    }
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
    }
}
.close{
    background: linear-gradient(to bottom right, #cccccc, #999999); /* gradiente linear cinza */
}
