*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   
#option {
    position: absolute;
    width: 50px;
    top: 10px;
    left: 10px;
    cursor: pointer;
  
}

#option:active {
    transform: scale(1.2);
}
dialog {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 2px 2px 20px rgb(85, 85, 85);
}

.dialog-title{
    margin-top: 0;
    padding: 35px;
    color: #d8d8d8;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #262525;;
}

#botoes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px 0px;
    text-decoration: none;
}

#botoes > button {
    font-family: 'Pixel Emulator';
    padding: 15px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #000;
}

#botoes button:active {
    transform: scale(1.1);
}

#botoes button:hover {
    background-color: #d8d8d8;
}

#botoes a {
    color: #000;
    text-decoration: none;

}